<!DOCTYPE html>
<html>
<head>
	<title>Profile |MyDiary</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<!-- Navbar -->
	<div class="navbar">
		<a href="index.html" id="logo">MyDiary</a>
		<div class="navbar-right">
			<a href="index.html" class="active">Home</a>
			<a href="new.html">New Entry</a>
			<a href="entries.html">Diary Entries</a>
			<a href="profile.html">Profile</a>
			<a href="#">Log Out</a>
		</div>		
	</div>
	<!-- End Navbar -->
	<h1>User Profile </h1>
	<hr>

	<div class="container">
		<h3>Reminder</h3>
		<label class="switch">
			<input type="checkbox" checked>
			<span class="slider round"></span>	
		</label>

		<form class="form">
			<div class="user-img">
			<img src="images/face.jpeg">
			
		</div>
			
			<h3>Username:</h3>
			<h4>Foo Bar</h4>
			<h3>Email:</h3>
			<h4>firstuser@gmail.com</h4>
			<h3>Entries:</h3>
			<h4>100</h4>
			
		</form>
		
	</div>
   <hr>
   <!-- Footer -->
	<div class="footer">
		<p>@Copyright 2018</p>		
	</div>
	<!-- End Footer -->
	

</body>
</html>