<!DOCTYPE html>
<html>
<head>
	<title>Register |MyDiary</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<!-- Navbar -->
	<div class="navbar">
		<a href="index.html" id="logo">MyDiary</a>
		<div class="navbar-right">
			<a href="index.html" class="active">Home</a>
			<a href="entries.html">Diary Entries</a>
			
		</div>		
	</div>
	<!-- End Navbar -->

	<h1> Registration Area</h1>
	<hr>

	<!--  Container -->
	<div class="container">
		<form class="form">
			<h3>Register Here</h3>
			<label><b>Enter Username:</b></label><br>
			<input type="text" name="text"><br>
			<label><b>Enter Email:</b></label><br>
			<input type="text" name="text"><br>
			<label><b>Enter Password:</b></label><br>
			<input type="password" name="password"><br>
			<label><b>Password Confirmation:</b></label><br>
			<input type="password" name="password"><br>
			<p><b>Registered?<a href="login.html"> Login</a></b></p>
			<a href="login.html"><button type="button">Register</button></a>			
		</form>		
	</div>     
	<!-- End Container -->

	<!-- Footer --> 
	<div class="footer">
		<p>@Copyright 2018</p>		
	</div>

	<!-- End Footer-->

</body>
</html>